* {
	box-sizing: border-box;
}

html, body {
	font-family: 'Segoe UI', 'Segoe UI Web', 'Segoe UI Symbol', 'Helvetica Neue', 'BBAlpha Sans', 'S60 Sans', Arial, sans-serif;
	background-color: #FFFFFF;
	padding: 0;
	margin: 0 auto;
	width: 1000px;
	font-weight: 400;
	-webkit-text-stroke-width: 0;
	-webkit-font-smoothing: subpixel-antialiased;
}

body, div, ul, li, input, label, img, p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

ul {
	list-style-type: none;
}

#header {
	height: 35px;
	font-size: 13px;
	background: #077cc6;
}

#logo {
	float: left;
	width: 195px;
	height: 35px;
	background: url('images/logo.png') no-repeat;
}

#search {
	float: right;
	width: 200px;
	height: 25px;
}

#menu {
	padding-top: 10px;
	float: right;
}

#menu li {
	float: left;
	margin-right: 15px;
	text-transform: capitalize;
}

#menu a {
	color: #e0e0e0;
	text-decoration: none;
	font-weight: bold;
}

#main {
	letter-spacing: -0.3px;
	text-align: justify;
	font-size: 16px;
	padding: 0 15px;
}

#main h1 {
	font-size: 53px;
	font-weight: normal;
	float: left;
	margin: 35px 0;
}

#main p {
	margin-bottom: 25px;
}

.mainImage {
	float: right;
	margin-top: 35px;
}

.clear {
	clear: both;
}

.searchText {
	width: 195px;
	margin-top: 5px;
	height: 25px;
	border: 1px solid #a9a9a9;
}

a {
	text-decoration: none;
	color: #dc143c;
}

code {
	border: 1px solid black;
	font-weight: bold;
}

#footer {
	height: 60px;
	font-size: 11px;
	text-align: center;
	font-weight: bold;
	padding: 15px;
	background: #077cc6;
	color: #e0e0db;
}

#footer a, .copyright {
	text-transform: capitalize;
	text-decoration: underline;
}

#footer a {
	color: #e0e0db;
}









